html,
body {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	// font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $dark;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}





